[Unit]
Description=DataBridge uploader
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
EnvironmentFile=/home/pi/xoraya_cli/databridge.conf
Environment=LD_LIBRARY_PATH=.
Environment=BOX64_LD_LIBRARY_PATH=/lib/x2e
Environment=BOX64_EMULATED_LIBS=libicuuc.so.74:libicudata.so.74:libicui18n.so.74
Environment=BOX64_DYNAREC=0
WorkingDirectory=/home/pi/Documents/master/databridge/build/linux-x64/DataBridgeCLI
ExecStart=systemd-inhibit --what=sleep --who=databridge --why="Upload in progress" \
  box64 /home/pi/Documents/master/databridge/build/linux-x64/DataBridgeCLI/DataBridgeCLI --logs-folder ${DEST}
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
