[Unit]
Description=Xoraya data collector
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=alexander
EnvironmentFile=/home/alexander/Documents/DataloggerExtract/LogViewerLib/xoraya_cli/xoraya-collect.conf
ExecStart=/usr/local/bin/xoraya-cli collect --dest ${DEST} --interval ${INTERVAL} --delete-after-download --verbose
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
