[Unit]
Description=Xoraya OLED screen daemon
After=sysinit.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/xoraya_cli/screen
ExecStart=/usr/bin/python3 screen_daemon.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
